{% extends 'base.html' %}

{% block content %}

<h2 class="section-title">
    Carrito de Compras
</h2>

{% if cart %}

<div class="cart-container">

    {% if request.args.get('success') %}
    <div class="success">
        ✅ Compra realizada correctamente.
    </div>
    {% endif %}

    {% if request.args.get('error') == 'pago' %}
    <div class="error">
        ❌ Pago inválido. Intente nuevamente.
    </div>
    {% endif %}

    {% if request.args.get('error') == 'sin_stock' %}
    <div class="error">
        ❌ Uno de los productos ya no tiene stock disponible.
    </div>
    {% endif %}

    {% if request.args.get('error') == 'carrito_vacio' %}
    <div class="error">
        ❌ El carrito está vacío.
    </div>
    {% endif %}

    {% if request.args.get('error') == 'producto_no_existe' %}
    <div class="error">
        ❌ Uno de los productos ya no existe.
    </div>
    {% endif %}

    {% if request.args.get('error') == 'no_customer' %}
    <div class="error">
        ❌ Debes iniciar sesión para finalizar la compra.
    </div>
    {% endif %}

    {% for item in cart %}

    <div class="cart-item">

        <img
            src="{{ url_for('static', filename=item.image_url) }}"
            alt="{{ item.name }}"
        >

        <div class="cart-info">

            <h3>{{ item.name }}</h3>

            <p>
                Precio:
                <strong>S/ {{ "%.2f"|format(item.price) }}</strong>
            </p>

            <a
                href="{{ url_for('remove_from_cart', index=loop.index0) }}"
                class="btn-danger"
            >
                Eliminar
            </a>

        </div>

    </div>

    {% endfor %}

    <hr>

    <h3 class="total-price">
        Total: S/ {{ "%.2f"|format(total) }}
    </h3>

    <div class="cart-buttons">

        {% if session.get("customer_id") %}

            <a
                href="{{ url_for('checkout') }}"
                class="btn-primary"
            >
                💳 Finalizar Compra
            </a>

        {% else %}

            <a
                href="{{ url_for('login') }}"
                class="btn-primary"
            >
                🔐 Iniciar sesión para comprar
            </a>

        {% endif %}

        <a
            href="{{ url_for('clear_cart') }}"
            class="btn-danger"
        >
            🗑 Vaciar Carrito
        </a>

        <a
            href="{{ url_for('home') }}"
            class="btn-secondary"
        >
            ← Seguir Comprando
        </a>

    </div>

</div>

{% else %}

<div class="simple-page">

    <h3>
        🛒 Tu carrito está vacío
    </h3>

    <p>
        Agrega algunos productos para comenzar tu compra.
    </p>

    <br>

    <a
        href="{{ url_for('home') }}"
        class="btn-primary"
    >
        Ir a la tienda
    </a>

</div>

{% endif %}

{% endblock %}
