{% extends 'base.html' %}

{% block content %}

<h2 class="section-title">
    Carrito de Compras
</h2>

{% if cart %}

<div class="cart-container">

    {% for item in cart %}

    <div class="cart-item">

        <img
            src="{{ url_for(
                'static',
                filename=item.image_url
            ) }}"
            alt="{{ item.name }}"
        >

        <div>

            <h3>{{ item.name }}</h3>

            <p>
                Precio:
                <strong>S/{{ item.price }}</strong>
            </p>

            <a
                href="{{ url_for(
                    'remove_from_cart',
                    index=loop.index0
                ) }}"
                class="btn-danger"
            >
                Eliminar
            </a>

        </div>

    </div>

    {% endfor %}

    <hr>

    <h3>
        Total: S/{{ total }}
    </h3>

    <div style="margin-top:20px;">

        <a
            href="{{ url_for('payment') }}"
            class="btn-primary"
        >
            Finalizar Compra
        </a>

        <a
            href="{{ url_for('clear_cart') }}"
            class="btn-danger"
        >
            Vaciar Carrito
        </a>

    </div>

</div>

{% else %}

<p>
    El carrito está vacío.
</p>

<a
    href="{{ url_for('home') }}"
    class="btn-primary"
>
    Ir a la tienda
</a>

{% endif %}

{% endblock %}
