{% extends 'base.html' %}

{% block content %}

<div class="checkout-box">

    <h2>💳 Finalizar Compra</h2>

    <p>
        Cliente:
        <strong>{{ session.get("customer_name") }}</strong>
    </p>

    <hr>

    <h3>
        Total a pagar:
        <span style="color:#00ff99;">
            S/ {{ "%.2f"|format(total) }}
        </span>
    </h3>

    <br>

    <form method="POST">

        <label for="payment">
            Código de pago
        </label>

        <input
            type="password"
            id="payment"
            name="payment"
            placeholder="Ingrese 123456"
            required
        >

        <small>
            (Para la demostración utilice <strong>123456</strong>)
        </small>

        <br><br>

        <button
            type="submit"
            class="btn-primary"
        >
            ✅ Confirmar Compra
        </button>

        <
