{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        {% if session.get("customer_name") %}
            <h2>¡Bienvenido {{ session.get("customer_name") }}!</h2>
        {% else %}
            <h2>Bienvenido a MineLand Center</h2>
        {% endif %}

        <p>
            Consolas, hardware gaming y tecnología extrema.
        </p>

        <a href="#products" class="btn-primary">
            Ver Productos
        </a>

    </div>

</section>

<section id="products">

    <h2 class="section-title">
        Productos Destacados
    </h2>

    <div class="product-grid">

        {% for product in products %}

        <div class="product-card">

            <img
                src="{{ url_for('static', filename=product.image_url) }}"
                alt="{{ product.name }}"
            >

            <div class="product-info">

                <h3>{{ product.name }}</h3>

                <p class="price">
                    S/{{ "%.2f"|format(product.price) }}
                </p>

                <p>
                    Stock:
                    <strong>{{ product.stock }}</strong>
                </p>

                <a
                    href="{{ url_for('product_detail', product_id=product.id) }}"
                    class="btn-secondary"
                >
                    Ver Producto
                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}
