{% extends 'base.html' %}

{% block content %}

<section class="login-container">

    <h2>
        Iniciar Sesión
    </h2>

    {% if error %}

    <p class="error-message">
        {{ error }}
    </p>

    {% endif %}

    <form method="POST" class="login-form">

        <input
            type="text"
            name="username"
            placeholder="Usuario"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
        >

        <button type="submit">

            Ingresar

        </button>

    </form>

</section>

{% endblock %}
