{% extends 'base.html' %}

{% block content %}

<section class="product-detail">

    <div class="product-detail-image">

        <img
            src="{{ url_for(
                'static',
                filename=product.image_url
            ) }}"
            alt="{{ product.name }}"
        >

    </div>

    <div class="product-detail-info">

        <h2>{{ product.name }}</h2>

        <p class="detail-price">

            ${{ product.price }}

        </p>

        <p class="detail-description">

            {{ product.description }}

        </p>

        <button class="btn-cart">

            Agregar al carrito

        </button>

    </div>

</section>

{% endblock %}
