id="vdh15i"
{% extends 'base.html' %}

{% block content %}

<section class="login-container">

    <h2>

        Registro

    </h2>

    <form method="POST" class="login-form">

        <input
            type="text"
            name="username"
            placeholder="Usuario"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
        >

        <button type="submit">

            Registrarse

        </button>

    </form>

</section>

{% endblock %}
